@import './components/Header.scss';
@import './components/Footer.scss';
@import './pages/Entry.scss';

$cyan: #b9e7e7;

.app {
    display: flex;
    justify-content: center;

    .app-container {
        width: 65vw;

        header {
            @include header($cyan);
        }

        .entry {
            @include entry($cyan);
        }

        footer {
            @include footer($cyan);
        }
    }
}