@import './components/Header.scss';
@import './components/Footer.scss';
@import './pages/Entry.scss';
@import './pages/Home.scss';

$cyan: #b9e7e7;

.app {
    display: flex;
    justify-content: center;

    .link {
        text-decoration: none;
        color: inherit;
    }

    .app-container {
        width: 64vw;

        header {
            @include header($cyan);
        }

        .entry {
            @include entry($cyan);
        }

        .home {
            @include home($cyan);
        }

        footer {
            @include footer($cyan);
        }
    }
}